.container{
	max-width: 1140px;
	margin: 0 auto;
}
/* -------------------------------------------------------------------------------- */
/* visible class */
/* -------------------------------------------------------------------------------- */
.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
    white-space: nowrap;

	.focusable:active,
	.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
}
.btn{
	padding: 20px 40px;
	border: 0;
	text-transform: uppercase;
	background: #333333;
	color: #FFFFFF;
	border-radius: 6px;
	font-weight: 700;
	text-decoration: none;
	display: inline-block;
	text-align: center;
}
.btn-primary{}
.btn-secondary{
	background: #FFFFFF;
	color: #333333;
}

/* -------------------------------------------------------------------------------- */
/* clearfix */
/* -------------------------------------------------------------------------------- */
.clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}