
.page-nav{
  height: 100%;
  font-size: 2em;
  display:flex ;
}
.page-nav-list{
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;

}
.page-nav-list li{
  height: 100%;

}
.page-nav-list a{
  height: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: #8F2D56;
  transition: 0.8s all;


}
.page-nav-list a:hover{
  background: #FFFFFF;
  color: #333333;

}
.header__mobile-nav-link{
  align-self: center;
}
.header__mobile-nav-link__line{
  height: 0.5vh;
  width: 2vw;
  margin-bottom: 0.1em;
  background: #424A4D;
}
